
// ====================================================================
// Imports
// ====================================================================

@import "compass";
@import "partials/variables";
@import "partials/normalize";


// ======================================
// header
// ======================================
h1{
	font-size: 4rem;
	margin-bottom: 0;
}
header{
	//@include borderB;
	margin-bottom: 5rem;
	padding-bottom: 1rem;
}
// ======================================
// answers
// ======================================
.answers{
	margin: 2%;
	a{
		color: #000;
		h2{
			color: $blue;
		}
	}
}
.result{
	@include borderB;
	margin-bottom: 1rem;
	padding: 1rem;
}

// Here is a sub section divide
// ======================================

/* Here is a normal CSS comment */
// Here is a Sass only comment
